{# Resources/views/DataTables/index.html.twig #}
{% extends "@JQueryDataTables/layout.html.twig" %}
{% block jQueryDataTablesBodyContent %}
    <div class="row clearfix">
        <div class="{{ bootstrapGrid({"lg": 12, "recopy": true}) }}">
            <div class="row clearfix">
                <div class="{{ bootstrapGrid({"lg": 12, "recopy": true}) }} table-responsive">
                    {{ renderDataTables(dtWrapper, {"class": "table-bordered table-striped"}) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block jQueryDataTablesBodyScripts %}
    {{ parent() }}
    {{ jQueryDataTables(dtWrapper) }}
{% endblock %}
